[submodule "xilinx"]
	path = xilinx
	url = https://github.com/Xilinx/embeddedsw
[submodule "tcpborphserver3/i2c-utils"]
	path = tcpborphserver3/i2c-utils
	url = https://gitlab.ras.byu.edu/alpaca/i2c-utils
